# visual studio code interpreter
.vscode
__pycache__

# jupyter notebook checkpoints
.ipynb_checkpoints

# virtual environment
env

# data csv and excel
*.csv
*.xlsx

# compress files
*.zip
*.tar
*.rar

